*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    height: 900px;
}
b{
    font-size: 40px;
}
#mytext{
    color: white;
    padding: 30px;
    width: 50%;
    float: left;
}
h1{
    font-weight: 800; 
    font-size: 40px;   
    padding: 40px 30px 10px 40px;     
}
button{
    background-color: yellow;
    margin: 10px 20px;
    height: 40px;
}
.button-p{
    margin: 0px 60px;
}
#mypix {
    width: 35%;
    height: auto;
    float: left;
    padding: 40px;
}
.hero-content{
    font-size: 30px;
    font-weight: 500;
    padding: 10px 30px 20px 40px;
}
#button-text{
    padding: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.boxed{
    float: right;
    padding: 30px;
}
.social{
    padding: 50px 0px;
}
.illustration img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: yellow 20px solid;
    width: 80%;
}

/*MEDIUM SCREEN DESIGN*/
@media(max-width:1050px){
    main{
        height: 1100px;
    }
    #mytext{
        width: 35%;
        padding: 30px;
        
    }
    #mypix {
        width: 50%;
    }
    h1{
        font-weight: 800; 
        font-size: 20px;   
        padding: 20px 10px 10px 20px;     
    }
    .hero-content{
        font-size: 20px;
        font-weight: 500;
        padding: 10px 10px 20px 20px;
    }
    button{
        width: 100%;
    }
    #button-text{
        padding: 0px;
        font-size: 15px;
        font-weight: 600;
    }
    main{
        height: 850px;
    }
    .social{
        padding: 30px 0px;
    }
    .illustration img{
        border: yellow 10px solid;
    }

}
/*SMALLER SCREEN*/
@media(max-width:870px){
    #mytext{
        width: 40%;
        padding: 30px 10PX;
    }
    #mypix {
        width: 40%;
    }
    b{
        font-size: 18px;
    }
    .hero-content{
        font-size: 17px;
    }
    button{
        width: 150px;
    }
    main{
        height: 750px;
    }
    #button-text{
        padding: 10px;
        font-size: 15px;
    }
}
/*SMALLEST SCREEN*/
@media(max-width:670px){
    .container1{
        display: flex;
        flex-direction: column;
    }
    #mytext{
        width: 100%;
        padding: 30px;
    }
    main{
        height: 1250px;
    }
    #mypix {
        width: 80%;
    }
    .boxed{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .button-p{
        margin: 0px 10px;
    }
    .illustration img{
        border: yellow 10px solid;
    }
}