/*RESET*/


/*NAVBAR*/
nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(255, 255, 0);
    background-blend-mode: exclusion;
    justify-content: space-around;
}

.logo-name{
    color: black;
}
.name{
    margin: 40px 0px 0px 0px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
}
.nav-items{
    text-align: right;
    padding: 50px 0px 0px 0px;
    width: 50%;
    margin: 0px 0px 0px 10px;
}
.nav-items .nav-links{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
}
.nav-links{
    text-align: right;
}
.nav-items .nav-links:hover{
    background-color: black;
    color: yellow;
    border-radius: 1px;
}
i{
    color: black;
}
.hamburger-wrapper{
    display: none;
}
/*MEDIUM & SMALL NAVBAR*/
@media(max-width:1050px){
    nav{
    display: flex;
    background-blend-mode: multiply;
    justify-content: space-around;
    transition: 0.5s ease;
}
.logo img{
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 70px;
    width: 90px;
}

.name{
    margin: 50px 0px 0px 0px;
    color: white;
}
.logo-name{
    font-size: 25px;
}
.hamburger-wrapper{
    display: flex;
    font-size: 20px;
    color: black;
    text-align: right;  
    padding: 20px;
    cursor: pointer;
    margin: 30px 0px 0px 0px;
    align-content: center;
}
.nav-items{
     display: none;
}
.open-nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 10px 0px;
    padding: 10px;
    padding-right: 20px;
    width: 90%;
}
.nav-links {
    text-align: right;
    margin-top: 20px;
}
}
/*SMALL NAVBAR*/
@media(max-width:400px){
.logo-name{
    font-size: 20px;
}
}